*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

h1{
    font-family: 'Poppins',sans-serif;
    padding: 1rem; 
}

h2{
    font-family: "Poppins", sans-serif;
    background-color: #1E3A8A;
    width: 90%;
    padding: 1rem;
    border-radius: 1rem;
    color: #F4F4F4;
    margin-bottom: 10px;
}

section{
    border: 1px solid #F59E0B;
    background-color: #F3F4F6;
    border-radius: 1rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

section:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 14px #F59E0B;
}

p{
    margin: 1rem;
}

.color-table th, .color-table td {
    border: 1px solid #F59E0B;
    padding: 8px;
    text-align: left;
}

.target-audience strong{
    margin: 1rem;
}

.desktop{
    max-width: 700px;
}