*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

h1{
    padding: 1rem;
}

h2{
    font-family: "Roboto", sans-serif;
    background-color: #1F3A5F;
    width: 90%;
    padding: 1rem;
    border-radius: 1rem;
    color: #F4F4F4;
    margin-bottom: 10px;
}

section{
    border: 1px solid #C9A227;
    background-color: #F4F4F4;
    border-radius: 1rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

p{
    margin: 1rem;
}

.color-table th, .color-table td {
    border: 1px solid #C9A227;
    padding: 8px;
    text-align: left;
}