@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    .hamburguer {
        display: none;
    }

    header {
        grid-template-columns: 100px auto;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #ddd;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    #members {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .member-card {
        width: 350px;
        min-height: 255px;
    }

    /*****************Home | Main********************/

    #hero img {
        height: 550px;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    .hero-content {
        bottom: 3rem;
    }

    .events-container {
        grid-template-columns: repeat(3, 1fr);
    }

     .weather-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .current-weather {
        text-align: left;
    }

    .spotlights-container {
        grid-template-columns: repeat(3, 1fr);
    }
}