@media only screen and (min-width: 38rem){
    header, main, nav, footer{
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .hamburguer{
        display: none;
    }

    header{
        grid-template-columns: 24px auto;
    }

    .navigation{
        display: block;
        border-bottom: solid 1px #ddd;
    }

    .navigation ul{
        display: flex;
    }

    .navigation a{
        border: none;
    }

    .main-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .filters button{
        width: 30%;
    }

    .course-grid{
        flex-direction: row;
        justify-content: space-around;
    }

    .course-card{
        width: 30%;
    }
}