*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffeece;
}

h1{
    font-family: "Mouse Memoirs", sans-serif;
    letter-spacing: 2px;
    margin: 1rem;
}

#cards{
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    background-color: #eee;
    border: solid 1px #ddd;
    border-radius: 1rem;
    width: 100%;
}

footer{
    padding: 1rem;
}